body {
    background: linear-gradient(to right, rgb(224, 247, 250), rgb(225, 190, 231));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(51, 51, 51);
    margin: 0;
}
